<!-- flask animation -->
  section {
    position: relative;
  }

  section img {
    position: absolute;
  }

  .top {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
  }

  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  <!-- loading bar animation -->
  body {
    background-color: #dddee0;
  }

  .seconds {
    background-color: #76c5c8;
    height: 2px;
    width: 300px;
    margin: auto;
    position: relative;
    top: 100px;
  }

  .bar {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#87d4d7), color-stop(100%,#8bfbff));
    height: 2px;
    width: 0%;
  }

  .animating {
    -webkit-animation: progress 4s infinite linear;
  }

  @-webkit-keyframes progress {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }